:root{
  --primary-coloor: rgba(255, 255, 255, 1);
  --secondary-color:  rgba(255, 255, 255, 0.5);
  --background-color-primary: rgb(10, 52, 90);;
  --background-color-secondary: rgb(10, 52, 105);
  --button-background-color: rgb(35, 75, 115);
  --button-hoverd-background-color: rgb(45, 85, 120);
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color-primary);
  color: var(--primary-coloor);
}

h1{
  text-align: center;
}

.App{
  padding: 20px;
}

.Content{
  max-width: 980px;
  margin: auto;
}

a{
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

a:hover{
  color: rgba(255, 255, 255, 1);
}